.git
.gitignore
.next
.pytest_cache
.ruff_cache
.venv
__pycache__
*.py[cod]

backend/.env
backend/storage
frontend/.next
frontend/node_modules
node_modules

.DS_Store
npm-debug.log*
docker-compose.override.yml
